In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# Load the file and set up the path for it
purchase_data = "Resources/purchase_data.csv"

In [3]:
# Read Purchasing File, store it in Panda frame, read the head of the file (first 5 items)
purchase_data_df = pd.read_csv(purchase_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
purchase_data_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [5]:
#total_nr_player = purchase_data_df["SN"].value_counts()
#total_nr_player

In [6]:
#player count, we use the function lenght of the SN column
TotalNrPlayer = len(purchase_data_df["SN"].value_counts())

In [7]:
#create a data frame to show the total players 
TotalNrPlayer = pd.DataFrame({"Total Number of Players" : [TotalNrPlayer]})
TotalNrPlayer

   Total Number of Players
0                      576

In [8]:
#number of unique items
NrUniqueItems = len((purchase_data_df["Item ID"]).unique())
NrUniqueItems

179

In [9]:
#calculate average price
AveragePrice = float((purchase_data_df["Price"]).mean())
AveragePrice

3.050987179487176

In [10]:
#calculate total number of purchases
TotalPurchases = len((purchase_data_df["Purchase ID"]).value_counts())
TotalPurchases

780

In [11]:
#calculate total revenue 
TotalRevenue = float((purchase_data_df["Price"]).sum())
TotalRevenue

2379.77

In [12]:
#create data frame with the values we just calculated
total_purchasing_analysis_df = pd.DataFrame ({
                                        "Number of Unique Items" : [NrUniqueItems],
                                        "Average Purchase Price" : [AveragePrice],
                                        "Total Number of Purchases" : [TotalPurchases],
                                        "Total Revenue" : [TotalRevenue]
                                        })
total_purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

In [13]:
#format for $ sign and 2 decimals
total_purchasing_analysis_df["Average Purchase Price"] = total_purchasing_analysis_df["Average Purchase Price"].map("${:.2f}".format)
total_purchasing_analysis_df["ATotal Revenue"] = total_purchasing_analysis_df["Total Revenue"].map("${:.2f}".format)
total_purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue,ATotal Revenue
0,179,$3.05,780,2379.77,$2379.77

In [14]:
### Gender Demographics
    #Percentage and Count of Male Players
    #Percentage and Count of Female Players
    #Percentage and Count of Other / Non-Disclosed

#group by gender status, using groupby function
GenderStatus_df = purchase_data_df.groupby("Gender")
GenderStatus_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [15]:
#calculate the total number of gender type 
GenderCount_df = GenderStatus_df["SN"].nunique()
GenderCount_df

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [16]:
#calculate percentage of gender type
GenderPercentage_df = purchase_data_df["Gender"].value_counts(normalize=True) * 100
GenderPercentage_df

Male                     83.589744
Female                   14.487179
Other / Non-Disclosed     1.923077
Name: Gender, dtype: float64

In [17]:
#create data frame for the Gender Demographics table
#it doesn't work, come back to it
Gender_Demographics_df = pd.DataFrame({
                                        "percentage of players" : GenderPercentage_df,
                                        "count of players" : GenderCount_df
                                       })
#Gender_Demographics_df.index.name = None
#Gender_Demographics_df.sort_values(["gender count"], ascending = False).style.format({"percentage of players":"{:.2f}"})
Gender_Demographics_df

                       percentage of players  count of players
Female                             14.487179                81
Male                               83.589744               484
Other / Non-Disclosed               1.923077                11

In [18]:
### Purchasing Analysis (Gender)

#The below each broken by gender
#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Average Purchase Total per Person by Gender

In [19]:
PurchaseCount_df = GenderStatus_df["Purchase ID"].count()
PurchaseCount_df

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [20]:
AveragePurchase_df = GenderStatus_df["Price"].mean()
AveragePurchase_df

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [21]:
TotalValue_df = GenderStatus_df["Price"].sum()
TotalValue_df

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [22]:
Average_Person_Gender_df = TotalValue_df/GenderCount_df
Average_Person_Gender_df

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [23]:
Gender_Demographics_df = pd.DataFrame({
                                    "Purchase Count": PurchaseCount_df, 
                                    "Average Purchase Price": AveragePurchase_df,
                                    "Average Purchase Value":TotalValue_df,
                                    "Avg Purchase Total per Person": Average_Person_Gender_df
                                   })

Gender_Demographics_df

,Purchase Count,Average Purchase Price,Average Purchase Value,Avg Purchase Total per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [24]:
#format the table to $ and 2 decimals
Gender_Demographics_df["Average Purchase Price"] = Gender_Demographics_df["Average Purchase Price"].map("${:.2f}".format)
Gender_Demographics_df["Average Purchase Value"] = Gender_Demographics_df["Average Purchase Value"].map("${:.2f}".format)
Gender_Demographics_df["Avg Purchase Total per Person"] = Gender_Demographics_df["Avg Purchase Total per Person"].map("${:.2f}".format)

Gender_Demographics_df

,Purchase Count,Average Purchase Price,Average Purchase Value,Avg Purchase Total per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56