In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# Load the file and set up the path for it
purchase_data = "Resources/purchase_data.csv"

In [3]:
# Read Purchasing File, store it in Panda frame, read the head of the file (first 5 items)
purchase_data_df = pd.read_csv(purchase_data)
purchase_data_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
purchase_data_df.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [5]:
###PLAYER COUNT

In [6]:
TotalNrPlayer = len(purchase_data_df["SN"].value_counts())
TotalNrPlayer

576

In [7]:
#create a data frame to show the total players 
TotalNrPlayer = pd.DataFrame({"Total Number of Players" : [TotalNrPlayer]})
TotalNrPlayer

   Total Number of Players
0                      576

In [8]:
###PURCHASING ANALYSIS (TOTAL)

In [9]:
#number of unique items
NrUniqueItems = len((purchase_data_df["Item ID"]).unique())
NrUniqueItems

179

In [10]:
#calculate average price
AveragePrice = float((purchase_data_df["Price"]).mean())
AveragePrice

3.050987179487176

In [11]:
#calculate total number of purchases
TotalPurchases = len((purchase_data_df["Purchase ID"]).value_counts())
TotalPurchases

780

In [12]:
#calculate total revenue 
TotalRevenue = float((purchase_data_df["Price"]).sum())
TotalRevenue

2379.77

In [13]:
#create data frame with the values we just calculated
total_purchasing_analysis_df = pd.DataFrame ({
                                        "Number of Unique Items" : [NrUniqueItems],
                                        "Average Purchase Price" : [AveragePrice],
                                        "Total Number of Purchases" : [TotalPurchases],
                                        "Total Revenue" : [TotalRevenue]
                                        })
total_purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue
0,179,3.050987,780,2379.77

In [14]:
#format for $ sign and 2 decimals
total_purchasing_analysis_df["Average Purchase Price"] = total_purchasing_analysis_df["Average Purchase Price"].map("${:.2f}".format)
total_purchasing_analysis_df["ATotal Revenue"] = total_purchasing_analysis_df["Total Revenue"].map("${:.2f}".format)
total_purchasing_analysis_df

,Number of Unique Items,Average Purchase Price,Total Number of Purchases,Total Revenue,ATotal Revenue
0,179,$3.05,780,2379.77,$2379.77

In [15]:
### GENDER DEMOGRAPHICS

In [16]:
#group by gender status, using groupby function
GenderStatus_df = purchase_data_df.groupby("Gender")
GenderStatus_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
18,18,Reunasu60,22,Female,82,Nirvana,4.90
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39

In [17]:
#calculate the total number of gender type 
GenderCount_df = GenderStatus_df["SN"].nunique()
GenderCount_df

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [18]:
#calculate percentage of gender type
GenderPercentage_df = purchase_data_df["Gender"].value_counts(normalize=True) * 100
GenderPercentage_df

Male                     83.589744
Female                   14.487179
Other / Non-Disclosed     1.923077
Name: Gender, dtype: float64

In [19]:
#create data frame for the Gender Demographics table
Gender_Demographics_df = pd.DataFrame({
                                        "percentage of players" : GenderPercentage_df,
                                        "count of players" : GenderCount_df
                                       })
Gender_Demographics_df

                       percentage of players  count of players
Female                             14.487179                81
Male                               83.589744               484
Other / Non-Disclosed               1.923077                11

In [20]:
#format table for % sign and 2 decimals
Gender_Demographics_df["percentage of players"] = Gender_Demographics_df["percentage of players"].map("{:.2f} %".format)
Gender_Demographics_df

                      percentage of players  count of players
Female                              14.49 %                81
Male                                83.59 %               484
Other / Non-Disclosed                1.92 %                11

In [21]:
### PURCHASING ANALYSIS (GENDER)

In [22]:
#Calculate Purchase Count by Gender
PurchaseCount_df = GenderStatus_df["Purchase ID"].count()
PurchaseCount_df

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [23]:
#Calculate Average Purchase Price by Gender
AveragePurchase_df = GenderStatus_df["Price"].mean()
AveragePurchase_df

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [24]:
#Calculate Total Purchase Value by Gender
TotalValue_df = GenderStatus_df["Price"].sum()
TotalValue_df

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [25]:
#Calculate Average Purchase Total per Person by Gender
Average_Person_Gender_df = TotalValue_df/GenderCount_df
Average_Person_Gender_df

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [26]:
#Create Data Frame based on the calculations we just made 
Gender_Demographics_df = pd.DataFrame({
                                    "Purchase Count": PurchaseCount_df, 
                                    "Average Purchase Price": AveragePurchase_df,
                                    "Average Purchase Value":TotalValue_df,
                                    "Avg Purchase Total per Person": Average_Person_Gender_df
                                     })

Gender_Demographics_df

,Purchase Count,Average Purchase Price,Average Purchase Value,Avg Purchase Total per Person
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

In [27]:
#Format the table to $ sign and 2 decimals
Gender_Demographics_df["Average Purchase Price"] = Gender_Demographics_df["Average Purchase Price"].map("${:.2f}".format)
Gender_Demographics_df["Average Purchase Value"] = Gender_Demographics_df["Average Purchase Value"].map("${:.2f}".format)
Gender_Demographics_df["Avg Purchase Total per Person"] = Gender_Demographics_df["Avg Purchase Total per Person"].map("${:.2f}".format)

Gender_Demographics_df

,Purchase Count,Average Purchase Price,Average Purchase Value,Avg Purchase Total per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

In [28]:
### AGE DEMOGRAPHICS

In [29]:
# Create bins for ages 
BinsAge = [0, 9, 14, 19, 24, 29, 34, 39, 99]
BinsAge

[0, 9, 14, 19, 24, 29, 34, 39, 99]

In [30]:
# Create the names for the bins
BinNames = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
BinNames

['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

In [31]:
# Segment and sort age values into bins established above
purchase_data_df["Age Group"] = pd.cut(purchase_data_df["Age"], BinsAge, labels = BinNames)
purchase_data_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
...,...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54,20-24
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63,20-24
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46,20-24
778,778,Sisur91,7,Male,92,Final Critic,4.19,<10
779,779,Ennrian78,24,Male,50,Dawn,4.60,20-24

In [32]:
# Group by "Age Group"
GroupedAge = purchase_data_df.groupby("Age Group")
GroupedAge

In [33]:
# Calculate total players by age category
TotalCount_age = GroupedAge ["SN"].nunique()
TotalCount_age

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [34]:
# Calculate percentages by age category 
Percentage_age = (TotalCount_age/576) * 100
Percentage_age

Age Group
<10       2.951389
10-14     3.819444
15-19    18.576389
20-24    44.791667
25-29    13.368056
30-34     9.027778
35-39     5.381944
40+       2.083333
Name: SN, dtype: float64

In [35]:
# Create data frame with the values we just calculated
Age_Demographics_df = pd.DataFrame ({
                                    "Total Count" : TotalCount_age,
                                    "Percentage of Players" : Percentage_age,
                                    })
Age_Demographics_df

           Total Count  Percentage of Players
Age Group
<10                 17               2.951389
10-14               22               3.819444
15-19              107              18.576389
20-24              258              44.791667
25-29               77              13.368056
30-34               52               9.027778
35-39               31               5.381944
40+                 12               2.083333

In [36]:
#Format the table to % sign and 2 decimals
Age_Demographics_df["Percentage of Players"] = Age_Demographics_df["Percentage of Players"].map("{:.2f} %".format)
Age_Demographics_df

           Total Count Percentage of Players
Age Group
<10                 17                2.95 %
10-14               22                3.82 %
15-19              107               18.58 %
20-24              258               44.79 %
25-29               77               13.37 %
30-34               52                9.03 %
35-39               31                5.38 %
40+                 12                2.08 %

In [37]:
#Calculate purchases count by age group
PurchaseCountAge = GroupedAge["Purchase ID"].count()
PurchaseCountAge

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [38]:
# Calculate average purchase count by age
AveragePriceAge = GroupedAge["Price"].mean()
AveragePriceAge

Age Group
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [39]:
# Calculate total purchase value by age
TotalPurchases_age = GroupedAge["Price"].sum()
TotalPurchases_age

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [40]:
# Calculate Average Purchase Total per Person by Age Group
AverageTotal_person_age = TotalPurchases_age/TotalCount_age
AverageTotal_person_age

Age Group
<10      4.537059
10-14    3.762727
15-19    3.858785
20-24    4.318062
25-29    3.805195
30-34    4.115385
35-39    4.763548
40+      3.186667
dtype: float64

In [41]:
#create data frame with the values we just calculated
Age_Demographics_Analysis_df = pd.DataFrame ({
                                            "Purchase Count" : PurchaseCountAge,
                                            "Average Purchase Price" : AveragePriceAge,
                                            "Total Purchase Value" : TotalPurchases_age,
                                            "Average Purchase Total per Person by Age Group" : AverageTotal_person_age
                                             })
Age_Demographics_Analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person by Age Group
Age Group,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

In [42]:
#Format the table for $ sign and 2 decimals
Age_Demographics_Analysis_df["Average Purchase Price"] = Age_Demographics_Analysis_df["Average Purchase Price"].map("${:.2f}".format)
Age_Demographics_Analysis_df["Total Purchase Value"] = Age_Demographics_Analysis_df["Total Purchase Value"].map("${:.2f}".format)
Age_Demographics_Analysis_df["Average Purchase Total per Person by Age Group"] = Age_Demographics_Analysis_df["Average Purchase Total per Person by Age Group"].map("${:.2f}".format)
Age_Demographics_Analysis_df

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total per Person by Age Group
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

In [43]:
###Top Spenders

In [44]:
#Create a new group by SN
spender_group = purchase_data_df.groupby("SN")
spender_group

In [45]:
# Calculate purchases count by spender group
PurchaseCountSpender = spender_group["Purchase ID"].count()
PurchaseCountSpender

SN
Adairialis76     1
Adastirin33      1
Aeda94           1
Aela59           1
Aelaria33        1
                ..
Yathecal82       3
Yathedeu43       2
Yoishirrala98    1
Zhisrisu83       2
Zontibe81        3
Name: Purchase ID, Length: 576, dtype: int64

In [46]:
# Calculate average purchase price by spender
AveragePriceSpender = spender_group["Price"].mean()
AveragePriceSpender

SN
Adairialis76     2.280000
Adastirin33      4.480000
Aeda94           4.910000
Aela59           4.320000
Aelaria33        1.790000
                   ...
Yathecal82       2.073333
Yathedeu43       3.010000
Yoishirrala98    4.580000
Zhisrisu83       3.945000
Zontibe81        2.676667
Name: Price, Length: 576, dtype: float64

In [47]:
# Calculate total purchase value by spender
TotalPurchases_spender = spender_group["Price"].sum()
TotalPurchases_spender

SN
Adairialis76     2.28
Adastirin33      4.48
Aeda94           4.91
Aela59           4.32
Aelaria33        1.79
                 ...
Yathecal82       6.22
Yathedeu43       6.02
Yoishirrala98    4.58
Zhisrisu83       7.89
Zontibe81        8.03
Name: Price, Length: 576, dtype: float64

In [48]:
# Create data frame with obtained values
top_spender_group_df = pd.DataFrame({
                                    "Purchase Count": PurchaseCountSpender,
                                    "Average Purchase Price": AveragePriceSpender,
                                    "Total Purchase Value":TotalPurchases_spender 
                                    })
top_spender_group_df

               Purchase Count  Average Purchase Price  Total Purchase Value
SN
Adairialis76                1                2.280000                  2.28
Adastirin33                 1                4.480000                  4.48
Aeda94                      1                4.910000                  4.91
Aela59                      1                4.320000                  4.32
Aelaria33                   1                1.790000                  1.79
...                       ...                     ...                   ...
Yathecal82                  3                2.073333                  6.22
Yathedeu43                  2                3.010000                  6.02
Yoishirrala98               1                4.580000                  4.58
Zhisrisu83                  2                3.945000                  7.89
Zontibe81                   3                2.676667                  8.03

[576 rows x 3 columns]

In [49]:
#Format table by "Total Purchase Value" Descending order 
spender_gropu_formatted_df = top_spender_group_df.sort_values(["Total Purchase Value"], ascending=False).head()
spender_gropu_formatted_df

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

In [50]:
#format the table for $ sign and 2 decimals
spender_gropu_formatted_df["Average Purchase Price"] = spender_gropu_formatted_df["Average Purchase Price"].map("${:.2f}".format)
spender_gropu_formatted_df["Total Purchase Value"] = spender_gropu_formatted_df["Total Purchase Value"].map("${:.2f}".format)
spender_gropu_formatted_df

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

In [51]:
###MOST POPULAR ITEMS

In [52]:
# Create new data for most popular items 
PopularItems = purchase_data_df.set_index(["Item ID", "Item Name"])
PopularItems

,,Purchase ID,SN,Age,Gender,Price,Age Group
Item ID,Item Name,,,,,,
108,"Extraction, Quickblade Of Trembling Hands",0,Lisim78,20,Male,3.53,20-24
143,Frenzied Scimitar,1,Lisovynya38,40,Male,1.56,40+
92,Final Critic,2,Ithergue48,24,Male,4.88,20-24
100,Blindscythe,3,Chamassasya86,24,Male,3.27,20-24
131,Fury,4,Iskosia90,23,Male,1.44,20-24
...,...,...,...,...,...,...,...
60,Wolf,775,Aethedru70,21,Female,3.54,20-24
164,Exiled Doomblade,776,Iral74,21,Male,1.63,20-24
67,"Celeste, Incarnation of the Corrupted",777,Yathecal72,20,Male,3.46,20-24
92,Final Critic,778,Sisur91,7,Male,4.19,<10
50,Dawn,779,Ennrian78,24,Male,4.60,20-24

In [53]:
# Group by Item ID, Item Name
Grouped_PopularItems = PopularItems.groupby(["Item ID","Item Name"])
Grouped_PopularItems

In [54]:
# Calculate the number of times an item has been purchased 
Item_purchase_count = Grouped_PopularItems["Price"].count()
Item_purchase_count

Item ID  Item Name
0        Splinter                                         4
1        Crucifer                                         4
2        Verdict                                          6
3        Phantomlight                                     6
4        Bloodlord's Fetish                               5
                                                         ..
178      Oathbreaker, Last Hope of the Breaking Storm    12
179      Wolf, Promise of the Moonwalker                  6
181      Reaper's Toll                                    5
182      Toothpick                                        3
183      Dragon's Greatsword                              3
Name: Price, Length: 179, dtype: int64

In [55]:
# Calcualte the average value per item 
Item_average_value = Grouped_PopularItems["Price"].mean()
Item_average_value

Item ID  Item Name
0        Splinter                                        1.2800
1        Crucifer                                        2.9425
2        Verdict                                         2.4800
3        Phantomlight                                    2.4900
4        Bloodlord's Fetish                              1.7000
                                                          ...
178      Oathbreaker, Last Hope of the Breaking Storm    4.2300
179      Wolf, Promise of the Moonwalker                 4.4800
181      Reaper's Toll                                   1.6600
182      Toothpick                                       4.0300
183      Dragon's Greatsword                             1.0900
Name: Price, Length: 179, dtype: float64

In [56]:
# Calcualte the total purchase value per item
Item_purchase_value = Grouped_PopularItems["Price"].sum()
Item_purchase_value

Item ID  Item Name
0        Splinter                                         5.12
1        Crucifer                                        11.77
2        Verdict                                         14.88
3        Phantomlight                                    14.94
4        Bloodlord's Fetish                               8.50
                                                         ...
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
179      Wolf, Promise of the Moonwalker                 26.88
181      Reaper's Toll                                    8.30
182      Toothpick                                       12.09
183      Dragon's Greatsword                              3.27
Name: Price, Length: 179, dtype: float64

In [57]:
# Create data frame with obtained values
MostPopularItem_df = pd.DataFrame({
                                    "Purchase Count": Item_purchase_count,
                                    "Item Price": Item_average_value,
                                    "Total Purchase Value":Item_purchase_value 
                                    })
MostPopularItem_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
0,Splinter,4,1.2800,5.12
1,Crucifer,4,2.9425,11.77
2,Verdict,6,2.4800,14.88
3,Phantomlight,6,2.4900,14.94
4,Bloodlord's Fetish,5,1.7000,8.50
...,...,...,...,...
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.2300,50.76
179,"Wolf, Promise of the Moonwalker",6,4.4800,26.88
181,Reaper's Toll,5,1.6600,8.30
182,Toothpick,3,4.0300,12.09
183,Dragon's Greatsword,3,1.0900,3.27

In [58]:
#Format table by " Purchase Count" Descending order 
MostPopularItem_formatted_df = MostPopularItem_df.sort_values(["Purchase Count"], ascending=False).head()
MostPopularItem_formatted_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
145,Fiery Glass Crusader,9,4.580000,41.22
132,Persuasion,9,3.221111,28.99
108,"Extraction, Quickblade Of Trembling Hands",9,3.530000,31.77

In [59]:
# Format the table for $ sign and 2 decimals
MostPopularItem_formatted_df["Item Price"] = MostPopularItem_formatted_df["Item Price"].map("${:.2f}".format)
MostPopularItem_formatted_df["Total Purchase Value"] = MostPopularItem_formatted_df["Total Purchase Value"].map("${:.2f}".format)
MostPopularItem_formatted_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

In [60]:
###MOST PROFITABLE ITEMS

In [61]:
#Format table by " Total Purchase Value" Descending order 
MostProfitableItem_formatted_df = MostPopularItem_df.sort_values(["Total Purchase Value"], ascending=False).head()
MostProfitableItem_formatted_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,4.614615,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.230000,50.76
82,Nirvana,9,4.900000,44.10
145,Fiery Glass Crusader,9,4.580000,41.22
103,Singed Scalpel,8,4.350000,34.80

In [62]:
#Format the table for $ sign and 2 decimals
MostProfitableItem_formatted_df["Item Price"] = MostProfitableItem_formatted_df["Item Price"].map("${:.2f}".format)
MostProfitableItem_formatted_df["Total Purchase Value"] = MostProfitableItem_formatted_df["Total Purchase Value"].map("${:.2f}".format)
MostProfitableItem_formatted_df

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80